.Menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
}
.logo
{
    position:absolute;
    top:0;
    margin-top:20px;
    margin-bottom:20px;
}